USE [master]
GO
/****** Object:  Database [ProjetoBludata]    Script Date: 02/06/2019 01:10:17 ******/
CREATE DATABASE [ProjetoBludata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoBludata', FILENAME = N'C:\Users\Itamar\ProjetoBludata.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoBludata_log', FILENAME = N'C:\Users\Itamar\ProjetoBludata_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoBludata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoBludata]
GO
USE [ProjetoBludata]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 02/06/2019 01:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[EmpresaUID] [uniqueidentifier] NOT NULL,
	[NomeFantasia] [varchar](255) NOT NULL,
	[CNPJ] [varchar](255) NOT NULL,
	[UF] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 02/06/2019 01:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[FornecedorUID] [uniqueidentifier] NOT NULL,
	[EmpresaUID] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[CGC] [varchar](255) NOT NULL,
	[Data] [date] NULL,
	[Hora] [time](7) NULL,
	[RG] [varchar](255) NULL,
	[DataNascimento] [date] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[FornecedorUID] ASC,
	[EmpresaUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefones_Fornecedor]    Script Date: 02/06/2019 01:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefones_Fornecedor](
	[FornecedorUID] [uniqueidentifier] NOT NULL,
	[Telefone] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Person_12334] PRIMARY KEY CLUSTERED 
(
	[FornecedorUID] ASC,
	[Telefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
